*{
    padding: 0;
    margin: 0;
}
ul{
    list-style-type: none;
    display: block;
}
a{
    color: #ffbcff;
    text-decoration: none;
}
body{
    height: 100vh;
    width: 100%;
    background-color: #413b4b;
    color: #2b292b;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: center;
    text-align: center;
}
main{
    padding: 25px;
    user-select: none;
    height: 420px;
    width: 420px;
    background-color: #2b292b;
    border-radius: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.dates{
    width: 475px;
    height: 400px;
    background-color: #ffbcff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
.dates .header{
    height: 15%;
    color: #413b4b;
    border-bottom: 2px dashed #413b4b;
}
.header{
    height: 15%;
    width: 350px;
    color: #b19dcf;
    border-bottom: 1.5px solid #413b4b;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.controls{
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}
.controls a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: .3s;
}
a:first-child{
    padding: auto;
    margin-top: 2.5px;
    transform: rotateZ(180deg);
}
a:hover{
    background-color: #b19dcf;
    color: #413b4b;
}
.content{
    width: 370px;
    padding-left: 6px;
    height: 85%;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    gap: 12px;
    padding-top: 25px;
}
.week_days{
    border-right: 1.5px solid #413b4b;
    border-left: 1.5px solid #413b4b;
    font-size: 20px;
    margin-top: 20px;
    padding: 0px 12.5px 0px 12.5px;
    width: 370px;
    color: #b19dcf;
    display: flex;
    gap: 14px;
    flex-flow: row nowrap;
    justify-content: center;
}
.week_days *{
    display: block;
    width: 40px;
}
.active{
    display: flex;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    background-color: #b19dcf;
    color: #413b4b;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: .3s;
}
.active:hover{
    border: 1px solid #b19dcf;
    color: #b19dcf;
    background-color: #413b4b;
}
.inactive{
    background-color: #413b4b46;
    color: #b19dcf69;
    display: flex;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: .3s;
}
.day{
    display: flex;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    background-color: #413b4b;
    color: #b19dcf;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: .3s;
}
.day:hover{
    border: 1px solid #b19dcf;
}
@media(max-width: 750px){
}